<h3>About Me</h3>

<div class="card z-depth-3">
  <div class="card-content white-text">
  	<div class="row">
	    <div class="col m6">
	      <a class="twitter-timeline" data-height="800" href="https://twitter.com/Hipertextual">Tweets by Hipertextual</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	    </div>
	    <div class="col m6">
	      <div class="card-panel grey lighten-5 z-depth-1">
	          <div class="row valign-wrapper">
	            <div class="col s3">
	              <%= image_tag "avatar.png", class: "circle responsive-img" %>
	            </div>
	            <div class="col s9">
	              <span class="black-text">
	                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sapiente minus provident possimus aperiam ipsum, fugit! Ducimus, quasi, in libero, repudiandae minus et mollitia perspiciatis adipisci, ex similique saepe nobis.
	              </span>
	            </div>
	          </div>
	        </div>
	    </div>   
    </div> 
  </div>
</div>